@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Custom Variables */
:root {
  --bg-color: #000;
  --text-color: #ececec;
  --pry-color: #f00;
  --dark-pry-color: rgb(200, 0, 0);
  --white: #fff;
  --movie-bg-color: rgba(255, 255, 255, 0.11);
  --gap: 1.04rem;
}

/* Basic reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 1rem;
}

/* Utilities */
.container {
  width: 92%;
  max-width: 69rem;
  margin: 0 auto;
  padding: 1.3rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header Styles */
.header {
  position: relative;
}

.logo {
  font-size: 1.5rem;
  color: red;
  font-weight: 700;
}

/* Nav in header styles */
nav {
  position: absolute;
  top: 4.7rem;
  left: 50%;
  width: 100%;
  height: 90vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0.5rem;
  transition: all 0.4s ease;
  transform: translateX(-160%);
  z-index: 3;
  overflow-y: hidden;
  pointer-events: none;
}

/* When nav is opened */
nav.open {
  transform: translateX(-50%);
  pointer-events: all;
}

.nav-buttons {
  display: block;
  background: none;
  border: none;
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 2.7rem;
}

/* Icon to open nav styles */
.hamburger {
  width: 31px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.4s ease;
}

.line {
  width: 100%;
  height: 0.1875rem;
  background: var(--white);
  transition: all 0.4s ease;
}

.line2 {
  width: 65%;
}

.open .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .line2 {
  transform: translateX(-140%);
  opacity: 0;
}

.open .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header Movie */
.header-movie-info {
  margin-top: 2.5rem;
}

/* Search input below the logo */
.search-movie-input {
  width: 100%;
  padding: 0.7rem 1.3rem;
  background: rgba(255, 255, 255, 0.3);
  color: var(--white);
  font-size: 1.1rem;
  border: 2px dashed transparent;
  border-radius: 1rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.search-movie-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.98rem;
}

.search-movie-input:hover,
.search-movie-input:focus {
  outline: none;
  border: 2px dashed var(--pry-color);
}

/* Header Movie */
.header-movie-group {
  background: var(--movie-bg-color);
  border-radius: 0.6rem;
  overflow: hidden;
}

.header-movie-img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
  object-position: center;
}

.header-movie-details {
  padding: 0.8rem;
}

.header-movie-title {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding-right: 1rem;
}

.header-movie-ratings {
  padding: 0.4rem 0.7rem;
  background: var(--bg-color);
  border-radius: 0.3rem;
}

/* Set ratings color */
.green {
  color: rgb(0, 209, 0);
}

.orange {
  color: orange;
}

.red {
  color: red;
}

/* The Movie styles */
.movies-section {
  margin-top: 4rem;
}

.movie-section-title {
  font-size: 1.5rem;
}

.note {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.97rem;
  font-style: italic;
  margin: 0.3rem 0 1.875rem 0;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
}

.movies-container > * {
  margin-left: var(--gap);
  margin-bottom: var(--gap);
}

.movie {
  position: relative;
  flex-basis: 9.375rem;
  flex-grow: 1;
  background: var(--movie-bg-color);
  border-radius: 0.6rem;
  overflow: hidden;
}

.movie-img {
  width: 100%;
  height: 14.375rem;
  max-height: 85%;
  object-fit: cover;
  object-position: top;
}

.movie-details {
  padding: 0.5rem;
}

.movie-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.movie-ratings {
  padding: 0.4rem;
  background: var(--bg-color);
  border-radius: 0.3rem;
}

.movie-overview-group {
  position: absolute;
  top: 0;
  background: var(--white);
  height: 100%;
  font-size: 0.9rem;
  color: var(--bg-color);
  padding: 0.3rem;
  transform: translateY(230%);
  transition: all 0.4s ease-in-out;
  overflow-y: scroll;
}

.movie-overview-group::-webkit-scrollbar {
  width: 2px;
  padding: 0.2rem;
}

.movie-overview-group::-webkit-scrollbar-thumb {
  background: var(--pry-color);
  border-radius: 1rem;
}

.movie.open .movie-overview-group {
  transform: translateY(0);
}

.movie-overview-title {
  font-size: 0.95rem;
  margin: 0.3rem 0 0.5rem 0;
  color: var(--dark-pry-color);
}

@media screen and (min-width: 43.75rem) {
  .container {
    padding: 2rem 0;
  }

  .movies-container {
    --gap: 1.3rem;
  }

  .movie {
    flex-basis: 12.9rem;
  }

  .movie-img {
    height: 17.5rem;
  }
}

@media screen and (min-width: 51.25rem) {
  .nav-buttons {
    font-size: 1.5rem;
  }

  .header-movie-img {
    height: 32.5rem;
  }

  .header-movie-details {
    padding: 1.2rem;
  }

  .header-movie-title {
    font-size: 1.34rem;
  }
}

@media screen and (min-width: 57.5rem) {
  .container {
    width: 96%;
  }

  .logo {
    width: 35%;
  }

  nav {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    transition: all 0.4s ease;
    transform: translateX(0);
    z-index: 1;
    overflow-y: visible;
    pointer-events: all;
  }

  .nav-buttons {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.74);
    margin: 0;
    padding: 0.6rem 0.2rem;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  .nav-buttons:hover,
  .nav-buttons:focus {
    color: var(--white);
    border-bottom-color: red;
  }

  .hamburger {
    display: none;
  }
}
